.about-us {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
    background-color: #ffffff;
}

.text-title p {
    color: #ffffff;
    text-align: center;
}

.heading {
    text-align: center;
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.title {
    color: #1a5276;
    margin-top: 30px;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.paragraph {
    color: #000000;
    text-align: justify;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.about-list {
    list-style-type: disc;
    margin-left: 70px;
}

.list-item {
    margin-bottom: 12px;
    color: #333;
    font-size: 1.1rem;
}

.footer-text {
    color: #ffffff;
    text-align: center;
}

.list-item strong {
    color: #2c3e50;
}

.about-us .paragraph:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .about-us {
        padding: 20px;
    }
    
    .heading {
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .list-item {
        font-size: 1rem;
    }
}
